@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
        @if(String.IsNullOrEmpty(Model.PostMessage)) {
          <h1 class="display-4">  Welcome </h1>
        }
        else
        {
          <h1 class="display-4">@Model.PostMessage</h1>  
        }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
