@page
@model Identity_API.UI.Pages.RegisterModel
@{
}

<form method="post" asp-page-handler="RegisterUser">
    <div class="mb-3">

        <label for="username" class="form-label">Username: </label>
        <input asp-for="RegisterUser.Username" id="username" class="form-control mb-2" type="text" placeholder="Username" />
        <span class="text-warning" asp-validation-for="RegisterUser.Username"></span>
        

        <label for="password" class="form-label">Password: </label>
        <input asp-for="RegisterUser.Password" id="password" class="form-control mb-2" type="password" placeholder="Password" />
        <span class="text-warning" asp-validation-for="RegisterUser.Password"></span>

        <label for="verifypassword" class="form-label">Verify password: </label>
        <input asp-for="RegisterUser.VerifiedPassword" id="verifypassword" class="form-control mb-2" type="password" placeholder="Verify Password" />
        <span class="text-warning" asp-validation-for="RegisterUser.VerifiedPassword"></span>

        <input type="submit" class="btn btn-outline-dark" value="Register user!"/>
    </div>
</form>