@page
@model Identity_API.UI.Pages.ShowListOfWeaponsModel
@{
}

@foreach(var weapon in Model.weapons) {
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@weapon.ImageURL" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">@weapon.Name</p>
    <p class="card-text">@weapon.WeaponType</p>
  </div>
</div>
}